@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=DM+Serif+Text:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Tailwind Directives */

/* Example Custom Styles */
.tiptap-editor .ProseMirror {
  min-height: 300px;
  padding: 1rem;
  border: 1px solid #e5e7eb; /* Tailwind's gray-300 */
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

